---
import ArrowHorizontal from "@components/Timeline/Legend/ArrowHorizontal.astro";
import ArrowVertical from "@components/Timeline/Legend/ArrowVertical.astro";
import { getEntryAssociatedColor } from "@components/Timeline/utils";

const projectsColors = getEntryAssociatedColor("projects");
const educationColors = getEntryAssociatedColor("education");
const jobsColors = getEntryAssociatedColor("jobs");
---

<div
  class="col-span-2 col-start-4 row-start-3 self-end text-xl font-bold"
  class:list={projectsColors.textClass}
>
  Projects
</div>
<div class="col-span-2 col-start-3 row-start-4">
  <ArrowHorizontal colorCSSVar={projectsColors.cssVarName} />
</div>
<div
  class="col-span-2 col-start-5 row-start-4 self-end text-xl font-bold"
  class:list={educationColors.textClass}
>
  Education
</div>
<div class="col-start-5 row-span-2 row-start-5">
  <ArrowVertical colorCSSVar={educationColors.cssVarName} />
</div>
<div
  class="col-span-2 col-start-6 row-start-5 self-end text-xl font-bold"
  class:list={jobsColors.textClass}
>
  Jobs
</div>
<div class="col-start-6 row-span-2 row-start-6">
  <ArrowVertical colorCSSVar={jobsColors.cssVarName} />
</div>
