---
import ArrowHorizontalDownLeft from '@components/Timeline/Legend/ArrowHorizontalDownLeft.astro';
import ArrowHorizontalUpLeft from '@components/Timeline/Legend/ArrowHorizontalUpLeft.astro';
import ArrowVerticalRight from '@components/Timeline/Legend/ArrowVerticalRight.astro';
import { getEntryAssociatedColor } from '@components/Timeline/utils';

const projectsColors = getEntryAssociatedColor('projects');
const educationColors = getEntryAssociatedColor('education');
const jobsColors = getEntryAssociatedColor('jobs');
---

<div
  class='z-10 col-start-5 row-start-4 self-end text-xl font-bold'
  class:list={projectsColors.textClass}
>
  Projects
</div>
<div class='z-10 col-span-2 col-start-4 row-start-5'>
  <ArrowHorizontalDownLeft colorCSSVar={projectsColors.cssVarName} />
</div>
<div
  class='z-10 col-start-3 row-start-12 self-end text-xl font-bold'
  class:list={educationColors.textClass}
>
  Education
</div>
<div class='z-10 col-start-3 row-span-2 row-start-13'>
  <ArrowVerticalRight colorCSSVar={educationColors.cssVarName} />
</div>
<div
  class='z-10 col-start-4 row-start-2 self-end text-xl font-bold'
  class:list={jobsColors.textClass}
>
  Jobs
</div>
<div class='z-10 col-span-2 col-start-3 row-start-3'>
  <ArrowHorizontalDownLeft colorCSSVar={jobsColors.cssVarName} />
</div>
