---
import EntryRole from "@components/Timeline/EntryDetails/EntryRole.astro";
import { formatPeriod } from "@content/utils";
import type { TimelineableEntry } from "@components/Timeline/types";
import EntryCard from "@components/EntryCard/EntryCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import EntryDescription from "@components/EntryCard/EntryDescription.astro";
import EntryTitle from "@components/EntryCard/EntryTitle.astro";
import { Button } from "@components/ui/button";
import ProseEntry from "@components/ui/ProseEntry.astro";
import { getEntry } from "astro:content";

interface Props {
  entry: TimelineableEntry;
}

const { entry } = Astro.props;
let dateString = formatPeriod(entry.data.start, entry.data.end);
---

{
  entry.collection === "education" ? (
    <EntryCard image={entry.data.logo} isTimeline={true}>
      <EntryTitle>{entry.data.school}</EntryTitle>
      <EntryDescription>{entry.data.faculty}</EntryDescription>
      <EntryRole role={entry.data.degree} dateString={dateString} />
      <ul>
        <li>Average grade: {entry.data.grade}/5.00.</li>
        {(async () =>
          entry.data.descriptionReference && (
            <li>
              <ProseEntry
                entry={await getEntry(entry.data.descriptionReference.page)}
                class="prose-a:no-underline prose-a:hover:underline"
              />
            </li>
          ))()}
      </ul>
    </EntryCard>
  ) : entry.collection === "jobs" ? (
    <EntryCard image={entry.data.logo} isTimeline={true}>
      <EntryTitle>{entry.data.company}</EntryTitle>
      <EntryRole role={entry.data.role} dateString={dateString} />
      {(async () => (
        <li>
          <ProseEntry
            entry={await getEntry(entry.data.descriptionReference.page)}
            class="prose-a:no-underline prose-a:hover:underline"
          />
        </li>
      ))()}
    </EntryCard>
  ) : entry.collection === "projects" ? (
    <ProjectCard entry={entry} isTimeline={true} />
  ) : (
    (() => {
      throw new Error("Invalid entry collection");
    })()
  )
}
