---
import Section from "@components/CV/ui/Section.astro";
import Prose from "@components/ui/prose/Prose.astro";
import { breakifyLink } from "@src/utils";
import { getEntry } from "astro:content";

const projectsToShow = [
  "stateviz",
  "freebici",
  "qrnamic",
  "vite-plugin-inline-imports",
  "card-game",
  "quote-shake",
  // "bwt"
] as const;

const projectsEntries = (
  await Promise.all(projectsToShow.map((slug) => getEntry("projects", slug)))
).filter((entry) => !!entry);
---

<Section title="Relevant Projects">
  <p class="text-2xs" slot="right">
    See more at{" "}
    <a
      href="https://steciuk.dev/projects"
      target="_blank"
      rel="noopener"
      class="text-accent underline"
    >
      steciuk.dev
    </a>
  </p>
  {
    projectsEntries.map((entry) => (
      <>
        <h3 class="mt-1 text-sm screen-max-a4:text-base">{entry.data.name}</h3>
        <Prose class="text-2xs a4:prose-li:my-0 screen-max-a4:text-xs print:prose-li:my-0">
          <ul>
            {entry.data.description && <li>{entry.data.description}</li>}
            {entry.data.repo && (
              <li>
                Repository:{" "}
                <a href={entry.data.repo} target="_blank" rel="noopener">
                  <Fragment set:html={breakifyLink(entry.data.repo)} />
                </a>
              </li>
            )}
            {entry.data.deployed && (
              <li>
                Avaliable at:{" "}
                <a href={entry.data.deployed} target="_blank" rel="noopener">
                  <Fragment set:html={breakifyLink(entry.data.deployed)} />
                </a>
              </li>
            )}
            <li>{entry.data.technology.join(", ")}.</li>
          </ul>
        </Prose>
      </>
    ))
  }
</Section>
