---
import EntryCard from "@components/EntryCard/EntryCard.astro";
import EntryDescription from "@components/EntryCard/EntryDescription.astro";
import EntryTitle from "@components/EntryCard/EntryTitle.astro";
import Badge from "@components/ui/Badge.astro";
import { Button } from "@components/ui/button";
import type { CollectionEntry } from "astro:content";
import { Github, Globe } from "lucide-svelte";

interface Props {
  entry: CollectionEntry<"projects">;
  class?: string;
  isTimeline?: boolean;
}

const { entry, class: className, isTimeline } = Astro.props;
---

<EntryCard image={entry.data.image} class={className} {isTimeline}>
  <div class="flex w-full flex-wrap gap-2">
    {entry.data.technology.map((tech) => <Badge name={tech} />)}
  </div>
  <EntryTitle>{entry.data.name}</EntryTitle>
  <EntryDescription>{entry.data.description}</EntryDescription>

  <div class="flex justify-center gap-2">
    {
      entry.data.repo && (
        <Button href={entry.data.repo} target="_blank">
          <Github class="mr-2" /> GitHub
        </Button>
      )
    }
    {
      entry.data.deployed && (
        <Button href={entry.data.deployed} target="_blank">
          <Globe class="mr-2" /> Live
        </Button>
      )
    }
  </div>
</EntryCard>
