---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import type { EntryMeasurements } from "./types";

interface Props {
  entry: CollectionEntry<"education" | "jobs"> & EntryMeasurements;
}

const { entry } = Astro.props;

const color = entry.collection === "education" ? "bg-primary" : "bg-secondary";
---

<div
  class:list={["entry absolute w-full rounded-sm", color]}
  style={{
    height: `${entry.heightPx}px`,
    bottom: `${entry.startHeightPx}px`,
  }}
>
  {
    entry.data.image && (
      <Image
        src={entry.data.image}
        alt={`${entry.data.place} logo`}
        quality="low"
        class="p-2"
      />
    )
  }
  <div
    class:list={[
      "entry__details relative z-10 w-min max-w-0 overflow-hidden rounded-sm",
      color,
    ]}
    style={{
      transition: "max-width 0.3s ease-in-out",
    }}
  >
    <div class="min-w-max p-2">
      <h3 class="text-lg font-bold">{entry.data.place}</h3>
      {entry.data.department && <p class="text-sm">{entry.data.department}</p>}
      <p class="text-sm italic">{entry.data.role}</p>
      <p class="text-sm">
        {entry.data.start.month}/{entry.data.start.year} - {
          entry.data.end
            ? `${entry.data.end.month}/${entry.data.end.year}`
            : "Now"
        }
      </p>
    </div>
  </div>
</div>

<style lang="scss">
  .entry:hover {
    .entry__details {
      max-width: 96rem;
    }
  }
</style>
