---
import { getCollection } from "astro:content";
import type { EntryMeasurements } from "@components/Timeline/types";
import TimelineEntry from "@components/Timeline/TimelineEntry.svelte";
import { sortByDate } from "@content/utils";
import EntryDeselector from "@components/Timeline/EntryDeselector.svelte";
import Markers from "@components/Timeline/Markers/Markers.svelte";
import EntryDetailsPortal from "@components/Timeline/EntryDetails/EntryDetailsPortal.astro";

const educationEntries = await getCollection("education");
const jobsEntries = await getCollection("jobs");
const projectsEntries = await getCollection("projects");

const allEntries = [...educationEntries, ...jobsEntries, ...projectsEntries];

allEntries.sort((a, b) => {
  return sortByDate(a.data.start, b.data.start);
});

const earliestStart = allEntries[0].data.start;
const latestStart = allEntries[allEntries.length - 1].data.start;

const latestEnd = allEntries.reduce((latest, entry) => {
  const end = entry.data.end;

  if (!end) {
    return latest;
  }

  if (end.year > latest.year) {
    return end;
  } else if (end.year === latest.year && end.month > latest.month) {
    return end;
  } else {
    return latest;
  }
}, latestStart);

const totalYears = latestEnd.year - earliestStart.year;
const totalMonths = totalYears * 12 + latestEnd.month - earliestStart.month + 1;

const monthHeightPx = 60;
const lines: Array<
  [number, number, (typeof allEntries)[number] & EntryMeasurements][]
> = [];

allEntries.forEach((entry) => {
  const start = entry.data.start;
  const end = entry.data.end ?? latestEnd;
  const startMonths =
    (start.year - earliestStart.year) * 12 + start.month - earliestStart.month;
  const endMonths =
    (end.year - earliestStart.year) * 12 + end.month - earliestStart.month;
  let durationMonths = endMonths - startMonths;
  if (!entry.data.end) {
    // Lasts until now, so add 2 'months' for '...' and 'Now' markers
    durationMonths += 2;
  }

  const heightPx = durationMonths * monthHeightPx;
  const startHeightPx = startMonths * monthHeightPx + monthHeightPx / 2;

  let line = lines.findIndex((line) => {
    return line.every(([start, end]) => {
      return start >= endMonths || end <= startMonths;
    });
  });

  const entryWithMeasurements = {
    ...entry,
    startHeightPx,
    heightPx,
  };

  if (line === -1) {
    line = lines.length;
    lines.push([[startMonths, endMonths, entryWithMeasurements]]);
  } else {
    lines[line].push([startMonths, endMonths, entryWithMeasurements]);
  }
});
---

<EntryDeselector client:idle />
<section>
  <div class="container grid gap-4 lg:grid-cols-[auto_1fr]">
    <div
      class="col-start-1 row-start-1 mb-20 flex w-full justify-center gap-2 md:gap-4 lg:justify-start"
    >
      <Markers
        {totalMonths}
        {monthHeightPx}
        {earliestStart}
        {latestEnd}
        client:visible
      />
      <div
        class="grid gap-4"
        style={{
          gridTemplateColumns: `repeat(${lines.length}, minmax(0, 1fr))`,
        }}
      >
        {
          lines.map((line) => (
            <div class="line relative w-6 xs:w-8 md:w-10">
              {line.map(([_, __, entry]) => {
                return <TimelineEntry {entry} client:visible />;
              })}
            </div>
          ))
        }
      </div>
    </div>
    <EntryDetailsPortal entries={allEntries} />
  </div>
</section>

<script>
  import { selectedEntry } from "@components/Timeline/selectedEntryStore";

  const lines = document.querySelectorAll(".line");
  lines.forEach((line) => {
    line.addEventListener("click", (event) => {
      event.stopPropagation();
      selectedEntry.clear();
    });
  });
</script>
