---
import ContactItem from '@components/CV/Header/ContactItem.astro';
import { email, github, linkedin, website } from '@src/links';
import { breakifyLink } from '@src/utils';
import { Github, Globe, Linkedin, Mail, MapPin, Phone } from 'lucide-svelte';
---

<div
  class='grid screen-max-a4:block'
  style={{
    gridTemplateColumns: '2fr 1fr',
  }}
>
  <div class='flex flex-col'>
    <h1 class='text-4xl'>Adam Steciuk</h1>
    <p class='text-justify text-xs screen-max-a4:max-w-[80ch]'>
      Software Engineer with over 2 years of professional experience and
      extensive work on personal and university projects. Passionate about
      creating dynamic, user-friendly web applications. Curious and ambitious,
      constantly seeking to enhance my skills and stay updated with the latest
      industry trends.
    </p>
  </div>
  <ul
    class='grid grid-flow-row grid-cols-1 justify-items-end screen-max-a4:mt-2 screen-max-a4:grid-flow-col screen-max-a4:grid-cols-2 screen-max-a4:grid-rows-3 screen-max-a4:justify-items-center'
  >
    <ContactItem>
      <a href={`mailto:${email}`}>{breakifyLink(email)}</a>
      <Mail />
    </ContactItem>
    <ContactItem>
      <div class='redacted'>
        <span>+48 123 456 789</span>
      </div>
      <Phone />
    </ContactItem>
    <ContactItem class='a4:hidden print:hidden'>
      <span>Gdańsk, Poland</span>
      <MapPin />
    </ContactItem>
    <ContactItem>
      <a href={website} target='_blank' rel='noopener'>steciuk.dev</a>
      <Globe />
    </ContactItem>
    <ContactItem>
      <a href={github} target='_blank' rel='noopener'>github.com/steciuk</a>
      <Github />
    </ContactItem>
    <ContactItem>
      <a href={linkedin} target='_blank' rel='noopener'>
        linkedin.com/in/steciuk
      </a>
      <Linkedin />
    </ContactItem>
  </ul>
</div>

<style>
  .redacted {
    position: relative;
    user-select: none;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .redacted > * {
    @apply blur-sm;
  }

  .redacted::after {
    content: 'redacted';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    font-size: 0.8em;
    text-align: center;
    color: hsl(var(--background));
    background-color: hsl(var(--foreground));
    opacity: 0.7;
    padding: 0 0.5em;
  }
</style>
