---
import ContactItem from "@components/CV/Header/ContactItem.astro";
import { email, github, linkedin, website } from "@src/links";
import { Github, Globe, Linkedin, Mail, Phone } from "lucide-svelte";
---

<div
  class="grid screen-max-a4:block"
  style={{
    gridTemplateColumns: "2fr 1fr",
  }}
>
  <div class="flex flex-col justify-between">
    <h1 class="text-4xl">Adam Steciuk</h1>
    <p class="text-justify text-sm screen-max-a4:max-w-[80ch]">
      Frontend web developer with over 2 years of professional experience and
      extensive work on personal and university projects. Passionate about
      creating dynamic, user-friendly web applications. Curious and ambitious,
      constantly seeking to enhance my skills and stay updated with the latest
      industry trends.
    </p>
  </div>
  <ul class="flex flex-col items-end screen-max-a4:mt-2">
    <ContactItem>
      <a href={`mailto:${email}`}>{email}</a>
      <Mail />
    </ContactItem>
    <ContactItem>
      <span class="blur-sm">+48 123 456 789</span>
      {/* <span>+48 123 456 789</span> */}
      <Phone />
    </ContactItem>
    {
      /*
      <ContactItem>
        <span>Gdańsk, Poland</span>
        <MapPin />
      </ContactItem>
      */
    }
    <ContactItem>
      <a href={linkedin} target="_blank" rel="noopener">
        linedin.com/in/steciuk
      </a>
      <Linkedin />
    </ContactItem>
    <ContactItem>
      <a href={github} target="_blank" rel="noopener"> github.com/steciuk </a>
      <Github />
    </ContactItem>
    <ContactItem>
      <a href={website} target="_blank" rel="noopener"> steciuk.dev </a>
      <Globe />
    </ContactItem>
  </ul>
</div>
